#Sports{
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#upsc{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
#p1{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#p2{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
#p3{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}
#p4{
    font-size: 2rem;
    font-family:cursive;
}
#para5{
    font-size: 48px;
    font-family: fantasy;
}